.direnv/
.envrc
*.lock
node_modules/
*.pdf
**/dist/
*.crt
*.key
openapi.jar
.vscode
nginx-dev/nginx
nginx-dev/nginx.deb
.env

# sqlite stuff
*.db
*.db-shm
*.db-wal
/db/

pnpm-lock.yaml
package-lock.json
.idea
.dev
openapi-template
nginx-dev
src/redocly.yaml
flake/
