networks:
  transcendance-network:
    driver: bridge
services:
  # this is a special container that will not be used when *running* the code,
  # but will be used to build the utils library
  utils-builder:
    build: ./src/utils/
    container_name: utils-builder
    image: utils-builder
    restart: never

# service_name:
#   build: ./service_name
#   container_name: service_name
#   restart: always
#   env_file: 
#     - ${SECRET_DIR}/service_name.env
#   networks:
#     - transcendance-network
#   volumes:
#     - service_name-volume:/some_path
#   depends_on:
#   ports:
#     - 'OUTSIDE_PORT:IN_CONTAINER_PORT'
  nginx:
    build: ./nginx
    container_name: nginx
    restart: always
    networks:
      - transcendance-network
    ports:
      - '8888:443'
    volumes:
      - images-volume:/volumes/icons
    environment:
      - NGINX_DOMAIN=local.maix.me
      - NGINX_USE_LOCAL_RESOLVER=yes

  icons-service:
    build: ./src/icons-service/
    container_name: icons-service
    restart: always
    networks:
      - transcendance-network
    volumes:
      - images-volume:/store
    environment:
      - USER_ICONS_STORE=/store
    depends_on:
      - utils-builder
volumes:
  images-volume:
